sourcemap.json
Packages/
**/*.rbx[lm]*
.DS_Store
roblox.yml
roblox.toml
**/luacov.*
.idea/
site/
temp/
filemap.json

default_modules
modules_*

.yarn
/*.tgz

**/sourcemap.json
**/node_modules
/build
/roblox

/upstream
/dist

Axon/
