/.*
/scripts
/docs
/site

/build
/temp

/*.json
/*.json5
/*.yml
/*.toml
/*.md
/*.txt
/*.tgz

*.spec.lua
*.spec.luau
*.test.lua
*.test.luau
**/tests
**/__tests__
jest.config.lua
jest.config.luau

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
